[submodule "test/firmware/src/bsp"]
	path = test/firmware/src/bsp
	url = git@github.com:chintal/ebs-bsp-msp430-lpf5529.git
[submodule "test/firmware/src/sys/modbus"]
	path = test/firmware/src/sys/modbus
	url = git@github.com:chintal/ebs-lib-modbus.git
